/*........ header style
.................... */

.main-section {
    padding: 50px 240px;
    background-color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    list-style: none;
    padding-left: 30px;
}

.header-paragraph {
    text-align: center;
    padding-top: 100px;
    padding-right: 150px;
    padding-left: 150px;

}

.primary-btn {
    font-size: 15px;
    width: 160px;
    height: 50px;
    background-color: orangered;

}

.banner {
    display: block;
    align-items: center;
    width: 850px;
    height: 500px;
    padding-left: 360px;
}

/* .......main section
.................. */

.section-1 {
    display: flex;
    align-items: center;
}

.section-image {
    display: grid;
    grid-template-columns: 350px 350px;
    gap: 20px;
    border-radius: 50%;
}

.section-paragraph{
    margin-left: 50px;

}


/*............. sectio-2.
.................. */

.section-2 {
    align-items: center;
    margin-top: 50px;
    display: flex;
    width: 900px;
    height: 500px;
}

.section-2-image {
    width: 500px;
    height: 500px;
}

.EXPERIENCE-BTN {
    margin-top: 420px;
    align-items: center;
    background-color: orangered;
    font-size: 70px;
    border: none;
    position: relative;
    left: 300px;
    border-radius: 5px;
}


/* ..................section-3
........................... */

.section-3-paragraph {
    margin-top: 50px;
}

.section-items {
    display: flex;
    justify-content: space-around;
    border: orange;
    margin-top: 60px;
}


/* ................section-4
.......................... */
.section-4-paragraph {
    text-align: center;
    margin-top: 50px;
}

.section-4-images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

}